<div>
    <form name="vm.appRegistrationForm">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>Control using custom directive :  &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title="Control using custom directive"></i></td>
                    <td>
                        <input type="text" ng-model="$ctrl.number1" smart-input-nt class="form-control" required />
                    </td>
                </tr>
                <tr>
                    <td>Custom directive that implements input control :  &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title="Custom directive that implements input control"></i> </td>
                    <td>
                        <smart-input-t send-model="$ctrl.number2" disabled="false"></smart-input-t>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12 text-center" style="padding-top:10px">
            <input type="submit" ng-disabled="!vm.appRegistrationForm.$valid" value="Get Form Data" class="btn btn-primary" ng-click="vm.getFormData();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </form>
</div>

