<div class="col-lg-12">
    <table>
        <tr>
            <td>
                <h3>restrict</h3>
            </td>
            <td>
                <ul>
                    <li>A - (Attribute) = &lt;div doc&gt;&lt;/div&gt;</li>
                    <li>C - (Class) = &lt;div class="Doc"&gt;&lt;/div&gt;</li>
                    <li>E - (Element) = &lt;doc data="book_data"&gt;&lt;/doc&gt;</li>
                    <li>M - (comment) = &lt;!--directive:Doc --&gt;</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h3>transclude : true and ng-transclude</h3>
            </td>
            <td>
                <directive-transclude>
                    <button>some button</button>
                    <a href="#">and a link</a>
                </directive-transclude>
            </td>
        </tr>
        <tr>
            <td>
                <h3>scope : false(default)</h3>
            </td>
            <td>
                <div class="surround">
                    <h4>Product: {{product}}</h4>
                    Change Product Name : <input type='text' class="form-control" ng-model='product' />
                </div>
                <div class="surround">
                    <directive-scope-false></directive-scope-false>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h3>scope : true</h3>
                <span data-toggle="tooltip" title="There is one thing to note here: If the content in the text box in the header section is changed first, then this change is also reflected inside the directive. However, after the movie title in the directive is changed, any changes made to the heading text no longer affect the directive content. The explanation for this is that the ng-model creates a new movie variable only after the text box value is changed. Until then, it refers to the value in the parent scope.">Important Points</span>
            </td>
            <td>
                <div class="surround">
                    <h4>Product: {{product1}}</h4>
                    Change Product Name : <input type='text' class="form-control" ng-model='product1' />
                </div>
                <div class="surround">
                    <directive-scope-true></directive-scope-true>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h3>scope : { }(Isolated Scope)</h3>
                <span>Important Points</span>
            </td>
            <td>
                <div class="surround">
                    <directive-scope-isolated custom-attr="" one-way-binding="{{vm.oneWayData}}" two-way-binding="vm.twoWayBinding" data-method="vm.display(value)"></directive-scope-isolated>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Compile function</h3>
            </td>
            <td>
                <div class="surround">
                    <p>
                        The compile function is used for template DOM manipulation and if you need to perform some common calculations for all references of a given directive. It executes in phase when Angular compiles your directive. Compile function doesn’t have scope. So if you have multiple usages of directive on the page the compile function will executes once. In addition the compile function must return link function, since the link attribute is ignored if the compile attribute is defined.
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Link function</h3>
            </td>
            <td>
                <div class="surround">
                    <p>
                        The link function is normally used for registering DOM listeners, $watch expressions on the scope, manipulating of DOM for the current instance of the directive. This function executes in the linking phase, when the data from the $scope is attached to the function and then link function returns the linked html.
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>





