
/* Table Design CSS */
.table-padding {
    padding: 10px 0px;
}

table {
    width: 100%;

    tr td {
        padding: 10px 20px;
        border: 1px solid #ccc;
    }
}


/* UI Icon Picker CSS */
.ui-iconpicker {
    button {
        width: 70px;

        i {
            padding-right: 20px;
        }
    }
}

.open-picker {
    display: block !important;
    width: 510px;
    height: 300px;
    overflow-y: scroll;
}

.icon-buttons {
    float: left;
}

.true-value {
    border: 1px solid green;
}
