<div>
    <form name="formFirstPage">
        <div class="col-lg-12">

            <div class="col-lg-6">
                <div style="width: 100%; height: 50px; background-color: white">
                </div>

                <table>
                    <tr>
                        <td>
                            <span>$window.sessionStorage</span>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.sessionStorage" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Share properties between controllers</span>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.sharedProperty" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>$broadcast</span>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.broadcastProperty" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>$emit</span>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.emitPropertyValue" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>$parse &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title="1. The $parse compiles an expression to a function,  2. This service is used as a getter/setter for single variables"></i></span>
                        </td>
                        <td>
                            Parse : {{parse}} {{parse_assign}}
                        </td>
                    </tr>
                    
                </table>
            </div>

            <div class="col-lg-6">
                <second-page></second-page>
            </div>

        </div>
    </form>


</div>
