<div>
    <form name="formFirstPage">
        <div class="col-lg-12">

            <div class="col-lg-6">
                <div style="width: 100%; height: 50px; background-color: white">
                </div>

                <table>
                    <tr>
                        <td>
                            <span>$window.sessionStorage</span>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.sessionStorage" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Share properties between controllers</span>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.sharedProperty" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>$broadcast</span>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.broadcastProperty" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>$emit</span>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.emitPropertyValue" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>ng-class</span>
                        </td>
                        <td>
                            <input type="number" ng-model="vm.firstNumber" style="width: 25%" />
                            + 
                        <input type="number" ng-model="vm.secondNumber" style="width: 25%" />
                            = 
                        <input type="number" ng-model="vm.resultNumber" style="width: 25%" />

                            <div style="width: 100%; height: 30px" ng-class="{'green':vm.resultNumber % 2}">{{vm.firstNumber + vm.secondNumber}}</div>

                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-6">
                <second-page></second-page>
            </div>

        </div>
    </form>


</div>
