<div>
    <form name="formFirstPage">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <div style="width: 100%; height: 50px; background-color: white">
                </div>
                <table>
                    <tr>
                        <td>
                            <span>$window.sessionStorage</span>
                        </td>
                        <td>
                            <input type="text" ng-model="$ctrl.sessionStorage" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Share properties between controllers</span>
                        </td>
                        <td>
                            <input type="text" ng-model="$ctrl.sharedProperty" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>$broadcast</span>
                        </td>
                        <td>
                            <input type="text" ng-model="$ctrl.broadcastProperty" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>$emit</span>
                        </td>
                        <td>
                            <input type="text" ng-model="$ctrl.emitPropertyValue" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Controller Bindings &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title=""></i></span>
                        </td>
                        <td>
                            <span>{{$ctrl.oneWayBindingData}}</span><br />
                            <span>{{$ctrl.twoWayBindingData}}</span>
                            <input type="text" ng-model="$ctrl.twoWayBindingData" />
                        </td>
                    </tr>

                </table>
            </div>

            <div class="col-lg-6">
                <second-page one-way-binding="$ctrl.oneWayBindingData" two-way-binding="$ctrl.twoWayBindingData"></second-page>
            </div>
        </div>

        <div class="col-lg-12">
            <div style="width: 100%; height: 50px; background-color: white">
            </div>
            <table>
                <tr>
                    <td>
                        <span>$filter &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title=""></i></span>
                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="x in $ctrl.filteredData">{{x.name}}</li>
                        </ul>
                        <br />
                        <ul>
                            <li ng-repeat="x in $ctrl.preDefDirectives | camelCase">{{x.name}}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>ng-bind-html &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title=""></i></span>
                    </td>
                    <td>
                        <span ng-bind-html="$ctrl.ngBindHtml"></span> &nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>ng-bind-template &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title=""></i></span>
                    </td>
                    <td>
                        <span ng-bind-template="{{$ctrl.ngBindTemplateTitle}} {{$ctrl.ngBindTemplateCaption}}..!"></span> &nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>ng-open &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title=""></i></span>
                    </td>
                    <td>
                        <label>Toggle details: <input type="checkbox" ng-model="open"></label><br />
                        <details id="details" ng-open="open">
                            <summary>List</summary>
                            <ul>
                                <li>Apple</li>
                                <li>Orange</li>
                                <li>Durian</li>
                            </ul>
                        </details>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>$interpolate &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title="This service is used to evaluate angular expressions. You can run an entire string against a scope, and interpolate will give the result."></i></span>
                    </td>
                    <td>
                        <span ng-bind-html="$ctrl.htmlStringAssigned"></span> &nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>$sce.trustAsHtml &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title="sce - Strict Contextual Escaping. This service is used to render strings as html elements"></i></span>
                    </td>
                    <td>
                        <div ng-bind-html="$ctrl.htmlButtonAssigned"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>$parse &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title="This service is used as a getter/setter for single variables only."></i></span>
                    </td>
                    <td>
                        Parse : {{$ctrl.parse}} {{$ctrl.parse_assign}}
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
