<div>

    <div class="col-lg-12" style="margin-top: 2px">
        <input type="button" class="btn btn-primary" value="RUN" ng-click="vm.proceed();" />
    </div>
    <div class="col-lg-12" style="margin-top: 13px">
        <table>
            <tr>
                <td>
                    <span>$window.sessionStorage</span>
                </td>
                <td>
                    <input type="text" ng-model="vm.sessionStorageValue" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Share properties between controllers</span>
                </td>
                <td>
                    <input type="text" ng-model="vm.sharedPropertyValue" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>$broadcast</span>
                </td>
                <td>
                    <input type="text" ng-model="vm.broadcastPropertyValue" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>$emit</span>
                </td>
                <td>
                    <input type="text" ng-model="vm.emitProperty" class="form-control" />
                </td>
            </tr>

        </table>
    </div>

</div>
