<div>
    <div class="col-lg-12" style="margin-top: 2px">
        <input type="button" class="btn btn-primary" value="RUN" ng-click="$ctrl.proceed();" />
    </div>
    <div class="col-lg-12" style="margin-top: 13px">
        <table>
            <tr>
                <td>
                    <span>$window.sessionStorage</span>
                </td>
                <td>
                    <input type="text" ng-model="$ctrl.sessionStorageValue" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Share properties between controllers</span>
                </td>
                <td>
                    <input type="text" ng-model="$ctrl.sharedPropertyValue" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>$broadcast</span>
                </td>
                <td>
                    <input type="text" ng-model="$ctrl.broadcastPropertyValue" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>$emit</span>
                </td>
                <td>
                    <input type="text" ng-model="$ctrl.emitProperty" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>controller bindings</span>
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="$ctrl.oneWayBinding" /><br />
                    <input class="form-control" type="text" ng-model="$ctrl.twoWayBinding" />
                </td>
            </tr>
        </table>
    </div>
</div>
