<div>
    <form name="vm.registrationForm">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>First Name : </td>
                    <td>
                        <input type="text" ng-model="vm.register.firstName" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>Last Name : </td>
                    <td>
                        <input type="text" ng-model="vm.register.lastName" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>Arc Year <i class="fa fa-info-circle" data-toggle="tooltip" title="Using ng-options - Dropdown with - Array of values - Last value should be selected by default - orderBy should be reverse"></i> :</td>
                    <td>
                        <select class="form-control" ng-model="vm.register.selectedArcYear" ng-init="vm.register.selectedArcYear = vm.years[vm.years.length-1]" ng-options="y for (x, y) in vm.years | orderBy:'-'">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Stc Year <i class="fa fa-info-circle" data-toggle="tooltip" title="Using ng-repeat - Dropdown with - Array of values - Last value should be selected by default - orderBy should be reverse"></i> :</td>
                    <td>
                        <select ng-model="vm.register.selectedStcYear" class="form-control">
                            <option ng-selected="selected" value="">{{vm.years[vm.years.length - 1]}}</option>
                            <option ng-if="$index !== 0" ng-repeat="year in vm.years | orderBy:'-'" value="{{year}}">{{year}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Gender <i class="fa fa-info-circle" data-toggle="tooltip" title="Using ng-options with Array of objects"></i> : </td>
                    <td>
                        <select ng-model="vm.register.selectedGender" ng-options="gender.type as gender.type for gender in vm.gender" class="form-control">
                            <option value="">Select</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Country <i class="fa fa-info-circle" data-toggle="tooltip" title="Cascading Dropdown - Using ng-repeat with Array of objects"></i> : </td>
                    <td>
                        <select ng-model="vm.register.selectedCountry" class="form-control">
                            <option value="">Select</option>
                            <option ng-repeat="country in vm.countries" value="{{country.id}}">{{country.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>State <i class="fa fa-info-circle" data-toggle="tooltip" title="Cascading Dropdown - Using ng-repeat with Array of objects"></i>  : </td>
                    <td>
                        <select ng-model="vm.register.selectedState" class="form-control">
                            <option value="">Select</option>
                            <option ng-repeat="state in vm.states" value="{{state.id}}">{{state.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>City &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title="The Data Source as an Object - key and value pair"></i> : </td>
                    <td>
                        <select ng-model="vm.register.selectedCity" ng-options="y for (x,y) in vm.cities" class="form-control">
                            <option value="">Select</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Town &nbsp; <i class="fa fa-info-circle" data-toggle="tooltip" title="The Data Source as an Object - key and value pair and value as an object"></i> : </td>
                    <td>
                        <select ng-model="vm.register.selectedTown" ng-options="y.name for (x,y) in vm.towns" class="form-control">
                            <option value="">Select</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                        <textarea ng-model="vm.register.address" rows="3" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Direction</td>
                    <td>
                        <span ng-repeat="direction in vm.directions" style="padding-left: 10px">
                            <input type="radio" ng-model="vm.register.direction" value="{{direction.name}}" />{{direction.name}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Matrix Vibes</td>
                    <td>
                        <span ng-repeat="matrix in vm.matrixVibes" style="padding-left: 10px">
                            <input checklist-model="vm.register.selectedMatrix" checklist-value="matrix.name" type="checkbox" />{{matrix.name}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Multi select dropdown</td>
                    <td>
                        <div ng-dropdown-multiselect="" options="vm.multiSelectData" selected-model="vm.register.multiSelectModel"></div>
                    </td>
                </tr>
                <tr>
                    <td>Input Selector : </td>
                    <td>
                        <aon-eb-input-selector ng-required="false" disabled="false" ng-model="$ctrl.selected.CopyID" selector="'Line'" keyfield="'RecordID'"></aon-eb-input-selector>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12 text-center" style="padding-top:10px">
            <input type="submit" ng-disabled="vm.disableStatus" value="Get Form Data" class="btn btn-primary" ng-click="vm.getFormData();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-lg-12 text-center" style="padding-top:10px">
            <div class="col-lg-2">
                <span>Using API Resource</span>
            </div>
            <div class="col-lg-10">
                <input type="submit" value="Query" class="btn btn-primary" ng-click="vm.query();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Get" class="btn btn-primary" ng-click="vm.get();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Post" class="btn btn-primary" ng-click="vm.post();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Put" class="btn btn-primary" ng-click="vm.put();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Delete" class="btn btn-primary" ng-click="vm.delete();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Custom method without Id" class="btn btn-primary" ng-click="vm.singleCustomList();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Custom method Id" class="btn btn-primary" ng-click="vm.multipleCustomList();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="col-lg-12 text-center" style="padding-top:10px">
            <div class="col-lg-2">
                <span>Using $http</span>
            </div>
            <div class="col-lg-10">
                <input type="submit" value="Query" class="btn btn-primary" ng-click="vm.httpQuery();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Get" class="btn btn-primary" ng-click="vm.httpGet();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Post" class="btn btn-primary" ng-click="vm.httpPost();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Put" class="btn btn-primary" ng-click="vm.httpPut();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Delete" class="btn btn-primary" ng-click="vm.httpDelete();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </form>

</div>

