<!--Header-->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <h2>Smart Breach</h2>
            </div>
        </div>
    </div>
</div>

<!--Side Navigation-->
<div class="sidenav" ng-class="{open: vm.tgState}">
    <smart-navigation menu-to-build="vm.menus"></smart-navigation>
</div>

<!--Main Content-->
<div class="content app-content" ng-class="{'sidenav-open': vm.tgState}">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <hamburger-toggle state="vm.tgState" class="hamburger-toggle"></hamburger-toggle>
        </div>
        <div class="col-lg-11">
            <div ui-view></div>
            <!--<data-ui-view></data-ui-view>-->
        </div>
    </div>
</div>

<!--Footer-->
<!--<div class="footer text-center">
    <p>
        <span>&copy;&nbsp;&nbsp;Smart Breach</span>
    </p>
</div>
<div class="clearfix"></div>-->
