<div ng-switch="$ctrl.status">
    <div class="loader-container">
        <div ng-if="Loading || Error" class="loader">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="loader-text">
            <center>
                <h1 ng-switch-when="Error">OMG, It's not working!</h1>
                <h1 ng-switch-when="Loading">Please Wait...</h1>
                <h1 ng-switch-default>Staring...</h1>
            </center>
        </div>
    </div>
    <div ng-switch-when="Loaded" style="height: 100%; width: 100%" ng-transclude></div>
</div>
